{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="banner">
  <nav>
    <ul>
      <li class="nav_li nav_li-selected">Home</li>
      <li class="nav_li">Upload</li>
      <li class="nav_li">Contact</li>
    </ul>
  </nav>
  <div class="banner_left">
    <h1>DATA</h1>
    <h2>VISUALIZER</h2>
    <p class="banner_p">Data visualizer is a web-based<br>application used to visualize graph data</p>
    <div class="banner_button-container">
      <button type="button" name="button">Let's start!</button>
    </div>
  </div><!--
  --><div class="banner_right">
    <img src="banner_laptop.svg" alt="">
  </div>
</div>

<div class="content-container">

  <h3>Please upload a CSV file</h3>
  <div class="drag-n-drop-container content-wrap">
    <form method="Post" name="aform"action="/" enctype="multipart/form-data">
      <input type="file" name="file"/>
      <input type="submit" name="asubmit" value ="Upload"/>
    </form>
  </div>
</div>
{% endblock %}

