{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<!DOCTYPE html>
<html>
<head>
  <title>Data visualizer - Home</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Lexend+Giga|Montserrat&display=swap" rel="stylesheet">

</head>
<body>

<div class="banner">
  <nav>
    <ul>
      <li class="nav_li nav_li-selected">Home</li>
      <li class="nav_li">Upload</li>
      <li class="nav_li">Contact</li>
    </ul>
  </nav>
  <div class="banner_left">
    <h1>DATA</h1>
    <h2>VISUALIZER</h2>
    <p class="banner_p">Data visualizer is a web-based<br>application used to visualize graph data</p>
    <div class="banner_button-container">
      <button type="button" name="button">Let's start!</button>
    </div>
  </div><!--
  --><div class="banner_right">
    <img src="banner_laptop.svg" alt="">
  </div>
</div>

<div class="content-container">

  <h3>Please upload a CSV file</h3>
  <div class="drag-n-drop-container content-wrap">
    <form action="/upload_file.php">
      <input type="file" name="filename" id="myFile">
      <input type="submit">
    </form>
  </div>
</div>

</body>
</html>

