{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}


<h1>Hi! First upload the CSV file below</h1>
<form method ="post" name="aform" action="/" enctype="multipart/form-data">
  <dl>
    <p>
    <input type="file" name="file"/>
  </p>
</dl>
  <p>
      <input type="submit" name="asubmit" value ="Upload"/>
  </p>
    
  </form>
<h2>Then, upload the stimuli image</h2>
<form method ="post" name="bform" enctype="multipart/form-data">
    <dl>
      <p>
        <input type="file" name="file"/>
      </p>
    </dl>
    <p>
    <input type="submit"  name="bsubmit" value ="Upload"/>
  </p>
  </form>
{% endblock %}


