{% extends 'base.html' %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
{% endblock %}

{% block body %}


<nav>
  <ul>
    <li class="nav_li">Home</li>
    <li class="nav_li nav_li-selected">Upload</li>
  </ul>
</nav>
<div class="content-container">
  <h3>Please upload the desired stimuli image (It takes a bit to generate the visualizations!)</h3>
  <div class="drag-n-drop-container content-wrap">
    <form method ="post" name="bform" enctype="multipart/form-data">
        <dl>
          <p>
            <input type="file" name="file"/>
          </p>
        </dl>
        <p>
        <input type="submit"  id="bsubmit" value ="Upload"/>
      </p>
    </form>
  </div>
</div>



{% endblock %}
